*{
    font-family: "Inter", sans-serif;
}

.banner-content h1{
    font-weight: bold;
    font-size: 2.5rem;
}
.banner-content h1 span{
    color: #4cd964;
}
.input-border:focus{
    border: 1px solid #4cd964 !important;
    box-shadow: 0px 0px 4px #4cd964 !important;
    /* outline: none !important; */

}
.banner-content ul{
    list-style: none;
}

.banner-content ul li{
    margin-bottom: 10px;
}
.banner-content ul li i{
    color: #4cd964;
    margin-right: 10px;
}

i{
    margin-right:0.3rem;
}

.banner-content-btn{
    display: flex !important;
    justify-content: space-between;
    margin-top: 20px;
}
.demo-btn,.download-btn{
    width:50%;
}

.banner-form{
    padding:40px;
    border-radius: 10px;
    margin-top:20px;
}
.btn-call{
    width:100%;
}

.container-info{
    border-radius: 6px;
}
.col h2{
    font-size:30px;
    font-weight:700;
    color:#4cd964;
}

.highlights-section{
    background-color: #f7faff;

}
.highlights-section h2{
    font-size:36px;
    font-weight: 700;

}
.highlights-section p {
    font-size: 18px;;
}